.template-part-item-icon-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  &:not([href^='#']):not([href^='javascript:void(0)']) {
    text-decoration: underline;
  }

  .container-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 40px;
      height: 40px;
      fill: var(--color-primary);

      path {
        fill: var(--color-primary);
      }
    }
  }

  strong {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 13px;
    color: var(--color-primary);
    text-align: center;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    color: var(--color-white-gray);
  }
}