:root {
  --font-family-default: 'Mulish', sans-serif;

  --color-primary: #001D2B;
  --color-secondary: #4F5665;
  --color-white: #fff;
  --color-light: #7D7987;
  --color-white-gray: #7D7D7D;

  --background-primary: #0C1D25;
  --background-primary-dark: #040e11;
  --background-white: #ffffff;
  --background-white-gray: #DDE0E4;
  --background-white-gray-2: #7D7D7D;

  --gradient-1: rgba(12, 29, 37, 0.15);
  --gradient-2: rgba(242, 242, 242, 0) ;
}