footer.template-part-footer {
  width: 100%;
  background: var(--background-primary-dark);
  padding: 50px 0 15px 0;

  .container {
    display: flex;
    flex-direction: column;

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 18px;
      border-bottom: 2.5px solid var(--background-white-gray);
      margin-bottom: 44px;

      @media only screen and (max-width: 760px) {
        flex-direction: column;
      }

      img {
        max-width: 200px;

        @media only screen and (max-width: 950px) {
          max-width: 130px;
        }

        @media only screen and (max-width: 760px) {
          margin-bottom: 25px;
        }
      }

      ul {
        display: flex;

        @media only screen and (max-width: 530px) {
          flex-direction: column;
          align-items: center;
        }

        li {

          &:hover {
            text-decoration: underline;
          }

          a {
            text-decoration: none;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.25rem;
            color: var(--color-white);

            @media only screen and (max-width: 530px) {
              font-size: 1.125rem;
            }
          }

          + li {
            margin-left: 60px;

            @media only screen and (max-width: 530px) {
              margin-left: 0;
              margin-top: 15px;
            }
          }
        }
      }
    }

    .wrapper-infos {
      width: 100%;
      margin-bottom: 48px;
      display: grid;
      grid-template-columns: 1fr 150px;
      grid-column-gap: 60px;

      @media only screen and (max-width: 1120px) {
        grid-template-columns: auto auto;
      }

      @media only screen and (max-width: 950px) {
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
      }

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 135px;
        grid-column-gap: 60px;

        @media only screen and (max-width: 680px) {
          grid-template-columns: 1fr;
          grid-column-gap: unset;
          grid-row-gap: 20px;
        }

        li {
          strong {
            color: var(--color-white);
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.875rem;
            margin-bottom: 7px;
          }

          p {
            color: var(--color-white);
            font-size: 1.125rem;
            line-height: 1.875rem;
          }
        }
      }

      .socials {
        display: flex;
        align-items: flex-start;
      }
    }

    .signature {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 2rem;
        text-transform: uppercase;
        color: var(--color-white);
      }
    }
  }
}